<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="kXYdrb_e864TuMRV5B47mRi1aFuT3JJ-92LXXqr0ANk" />
    <title>Timeplan</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Script -->
    <script type="text/javascript" src="/js/script.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="vsc-initialized">

    <main class="container" role="main">

      {{{body}}}

    </main>

    <footer class="footer">
      <div class="d-none d-sm-block">
        <div class="container d-flex justify-content-between">
          <a class="text-muted" href="/about">Om nettsiden</a>
          <a class="text-muted" href="/join">Bli bruker</a>
          <a class="text-muted" href="/login">Logg inn</a>
          <a class="text-muted" >Laget av Theodor 2G</a>
        </div>
      </div>
      <div class="d-block d-sm-none">
        <div class="container footerXs">
          <a class="text-muted" href="/about">Om nettsiden</a><br>
          <a class="text-muted" href="/join">Bli bruker</a><br>
          <a class="text-muted" href="/login">Logg inn</a><br>
          <a class="text-muted" >Laget av Theodor 2G</a><br>
        </div>
      </div>
    </footer>

  </body>
</html>
