<h1 class="page-header">404: Ikke funnet</h1>

<p>Denne siden finnes ikke, men hvis du vil se timeplanen din, trykk <a href="/login">her</a></p>
<p>Visste du at http status 418 betyr "I'm a teapot". (http status 404 betyr "Not found", men tror de fleste vet det).  Status 418 ble lagt inn som en aprilsnarr, men google har den <a href="https://www.google.com/teapot">her</a>.  <a class="text-muted" href="https://en.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol">Kilde Wikipedia</a> </p>
