<h1 class="page-header">Om nettsiden</h1>

<p>Jeg og mange andre har oppdaget at Visma ikke funker helt på mobil.  Så her er min nettside med timeplanen, som funker på mobil!  Den blir hentet fra Visma og er derfor like oppdatert som om du skulle sjekket Visma selv.  Før du begynner å bruke den anbefaler jeg veldig å lese denne siden.</p>
<p>Det kan også vært verdt å merke seg at Visma funker bedre på mobil nå enn den gjorde før, det eneste du får ut av denne siden er at den viktige informasjonen står med større skift.  Så det kan være verdt å sjekke ut Visma.</p>

<h4>Hvordan funker nettsida</h4>
<p>Denne nettsiden bruker brukernavn og passord til å først logge inn på Feide.  Måten den logger inn på er å starte en nettleser (som Chrome, Firefox eller Safari) og går til Feide innloggingen.  Deretter skriver den inn brukernavn og passord og trykker på logg inn knappen.  Så ser den om det var riktig brukernavn og passord.  Hvis alt var riktig laster den inn timeplanen, og viser den til dere i en ny nettside.  Etter dette slettes brukernavnet og passordet du skrev inn i innloggingen.</p>

<h4 id="risk">Risikoen ved bruk av nettsiden</h4>

<p>Det er en risiko til å bruke nettsida.  Siden jeg har laget nettsiden, må dere stole på at jeg ikke stjeler informasjonen deres.  Informasjon dere gir nettsiden tilgang til er blant annet brukernavn, passord, full kontroll over Visma InSchool, og tilgang til personnummer.  Jeg har laget ut koden på <a href="https://github.com/theodorklauritzen/VismaCalendar">Github</a>.  Der kan dere se alt som skjer på nettsida.  For å se hvilke versjoner som har kjørt når og hvilken som kjører nå trykk <a href="https://github.com/theodorklauritzen/VismaCalendar/deployments">her</a>.</p>
<p>En annen risiko, er at jeg lagde denne ganske fort, så den kan ha bugs eller feil.  Likevel skal den funke bra nok for meg og andre tror jeg.  Til tross for dette kan det være svakheter i programmet som gjør at andre får tilgang til serveren.  Jeg tviler på at noen kommer til å finne en sånn svakhet, men det er en risiko på alle nettsider, også denne nettsiden.  Det kan vært verdt å merke seg at jeg vet om en svakhet, men den er litt herk å fikse.  Jeg er usikker på skadeomfanget, det kan vært stort eller at svakheten er ubetydelig.  Ta dette i betraktning før du eventuelt logger inn.</p>

<h4>Bugs</h4>
<p>Hvis du har funnet en feil på nettsiden, vennligst gi beskjed!  Det kan du gjøre <a href="https://github.com/theodorklauritzen/VismaCalendar/issues">her</a> på Github.  (Dette kan godt være skrivefeil også, men da hadde jeg blitt glad hvis du rettet dem selv.  Se under for hvordan du kan gjøre det)</p>

<h4>Vil du hjelpe til med nettsida?</h4>
<p>Jeg blir veldig glad hvis noen vil utvikle denne nettsiden videre.  Som å endre design eller få den til å kjøre raskere.  Det kan du gjøre på <a href="https://github.com/theodorklauritzen/VismaCalendar">Github</a>.  Da må du kunne kode litt, men å rette skrivefeil krever ingen koding.  Alle sidene er i mappen "views", med filtypen .handlebars.  Der kan du rette hva som står på sidene.</p>
