<h1 class="page-header">Om nettsida</h1>

<p>Jeg og mange andre har oppdaga at Visma ikke funker helt på mobil.  Så her er min side med timeplanen, som funker på mobil!  Den blir henta fra Visma og er derfor like oppdatert som om du skulle sjekka Visma.  Den funker for alle jeg gir tilgang til.  Se <a href="/join">her</a> vil du vil bruke nettsida.  Likevel vil jeg anbefale å lese her for å skjønne hvordan siden funker og hvorfor jeg må ha den infomasjonen jeg trenger.</p>

<h4>Hvordan funker nettsida</h4>
<p>Denne nettsida bruker learnerID, brukernavn og passord til å først logge inn på Feide.  Måten den logger inn på er å starte en nettleser (som Chrome, Frirefox eller Safari) og går til Feid innloggingen.  Deretter skriver den inn brukernavn og passord og trykke på log inn knappen.  Så ser den om det var riktig bruekrnavn og passord.  Hvis alt var riktig laster den inn timeplanen, og viser den til dere i en ny nettside.  Etter dette slettes brukernavnet og passordet du skrev inn i inlogginen.</p>

<h4>Risikoen ved bruk av nettsida</h4>
<p>Vel det er en risiko til å bruke nettsida.  Det er at jeg har laget den, og det kan være vanskelig å skjønne hva som skjer med brukernavnet og passordet deres etter dere logger inn.  Fordi koden kan gjøre hva som helst med det, som å legge det ut på nettet...  Likevel håper jeg at mange stoler på meg.  Jeg har laget ut koden på <a href="https://github.com/theodorklauritzen/VismaCalendar">github</a>.  Der kan dere se alt som skjer på nettsida.  Siste commit på master branchen vil automatisk lastes opp til en server.  Den serveren vil kjøre koden og gjøre at alle får tilgang til denne nettsida.</p>
<p>En annen risiko, er at jeg lagde denne ganske fort, og den kan ha bugs, ganske mange bugs.  Nå skal den funke bra nok for meg og andre tror jeg.  Liekvel kan det være svakheter i programmet som gjør at andre får tilgang til serveren.  Jeg tviler på at noen kommer til å finne en sånn svakhet, men det er en risiko på alle nettsider, også denne.</p>

<h4>Bugs</h4>
<p>Hvis du har funnet en feil på nettsida, vennlig gi beskjed!  Det kan du gjøre <a href="https://github.com/theodorklauritzen/VismaCalendar/issues">her</a> på Github.  (Dette kan godt være skrivefeil også, men da hadde jeg blitt lad hvis du retta dem selv.  Se under for hvordan du kan gjøre det)</p>

<h4>Vil du hjelpe til med nettsida?</h4>
<p>Jeg blir veldig glad hvis noen vil utvikle denne nettsida videre.  Som å endre design eller gå den til å virke raskere.  Det kan du gjøre på <a href="#">github</a>.  Da må du kunne kode litt da, men å rette skrivefeil krever ingen koding.  Alle sidene her er i mappen views, så ser du sidene som XXXX.handlebars  Der kan du rette hva som står på sidene.</p>
