<style media="screen">
  .formBox {
    width: 100%;
    align-items: center;
  }
  .inputBox {
    width: 100%;
  }
  .submitBtn {
    width: 100%;
  }
</style>

<div class="formBox">
  <form action="/timetable" method="post">
    <input type="text" name="login_name" placeholder="Feide bruekrnavn" class="inputBox"><br>
    <input type="password" name="password" placeholder="Feide passord" class="inputBox"><br>
    <input class="submitBtn" type="submit" value="Logg inn">
  </form>
</div>
