<h1 class="page-header">Betingelser</h1>

<p>Før du bruker nettsiden må du være kjent med <a href="/about#risk">risikoen ved bruk av nettsiden</a>.</p>
<p>Nettsiden localstorage for å huske hvilken skole du logget inn på sist og for å huske om dere har fått melding om å lese denne siden.  Denne dataen er lagret på deres datamaskin, så dette må dere godta. I tillegg bruker nettsiden tredjeparts informasjonskapsler.  Disse brukes for å se hvordan nettsiden blir brukt og for å se hvor populær den er.</p>
<p>Google analytics er den eneste tredjeparten på denne nettsiden.  Derfor vil Google kunne samle inn informasjon om hva du gjør på nettsiden, og bruke dette til å vise deg reklame.  Dersom du vil vite mer om Google Analytics kan du besøke <a href="https://www.google.com/policies/technologies/ads/">denne siden</a>.  Hvis du ikke ønsker personlig anonsering fra google kan du endre det <a href="https://www.google.com/settings/ads">her</a>.</p>
