<script type="text/javascript">
  const rawData = '{{{data}}}';
</script>
<link rel="stylesheet" href="/css/timetable/style.css">
<script type="text/javascript" src="/js/timetable/script.js"></script>

<div class="accordion timetable-container" id="timetable"></div>

<div class="text-muted" id="updatedInfo"></div>
