html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px; /* Margin bottom by footer height */
}

.container {
  max-width: 600px;
}

.page-header {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
