.timetable-container {
  margin: 15px 0px 15px 0px
}

.dayHeading {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 0px;
  vertical-align: middle;
}

button:hover.dayHeading {
  color: #000;
  text-decoration: none;
}

button:focus.dayHeading {
  text-decoration: none;
}

.lesson {
  padding: 15px 5px 15px 5px;
}

.lesson-info {
  width: 100%;
}

.cardBody * {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardBody {
  border: 0px;
}
.card {
  border: 0;
}
.card-header {
  border: 1px solid rgba(0,0,0,.125);
  background-color: rgb(240, 240, 240);
}

#updatedInfo {
  color: #DDD;
  font-size: 12px;
}
