.timetable-container {
  margin: 15px 0px 15px 0px
}

.dayHeading {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 0px;
  vertical-align: middle;
}

button:hover.dayHeading {
  color: #000;
  text-decoration: none;
}

button:focus.dayHeading {
  text-decoration: none;
}

.lesson {
  margin: 5px 0px 5px 0px;
  background-color: #EEEEEE
}

.cardBody {
  margin-top: 15px;
  margin-bottom: 15px;
}
