.space {
  padding-top: 30px;
  padding-bottom: 30px;
}

.alert-security {
  border: 2px solid;
  padding-bottom: 4px;
}

.btn-security-alert {
  background-color: #FFF;
  border: 1px solid;
  border-color: #999;
  padding-top: 5px;
  margin-top: 7px;
}
.form-signin * {
  margin-top: 5px;
}
.form-control {
  padding: 0 .375rem;
}
h1, p {
  color: rgb(240, 240, 240);
}
#school {
  color: #6c757d;
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 98.5% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;

  background-color: white;
  border: 0;
}
.btn-primary {
  color: white;
}
